/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/** Navbar style **/
.navbar-leftnav{
  padding-left: 60px;
  padding-top: 30px;
  font-size: 24px;
}

.navbar-inverse .navbar-leftnav > li > a {
  color: #fff;
}

.navbar-rightnav{
  padding-top: 30px;
  font-size: 20px;
}

.navbar-inverse .navbar-rightnav > li > a {
  color: #f06478;
}

/** underslider slideshow style **/
.banner {
  position: relative;
  width: 98%;
  margin: 40px auto;
  margin-bottom: 80px;
  overflow: auto;

  font-size: 18px;
  line-height: 24px;
  text-align: center;

  color: rgba(255,255,255,.6);
  text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

  background: #D6D6D6;
}
  .banner ul {
    list-style: none;
    width: 1000px;
    padding: 0;
    margin: 0 auto;
    position: relative;
  }
	.banner ul li {
	  display: block;
	  /** float: left; **/
	  position: absolute;
	  top: 0;
	  width: 100%;
	  min-height: 300px;

	  -o-background-size: 100% 100%;
	  -ms-background-size: 100% 100%;
	  -moz-background-size: 100% 100%;
	  -webkit-background-size: 100% 100%;
	  background-size: 100% 100%;

	}
	.liactive{
	  box-shadow: 6px 0 6px -2px rgba(255, 255, 255, 0.5), -6px 0 6px -2px rgba(255, 255, 255, 0.5);
	  z-index: 1000;
	}
	.banner .inner {
	  padding: 160px 0 110px;
	}

	.banner h1, .banner h2 {
	  font-size: 40px;
	  line-height: 52px;

	  color: #fff;
	}

	.banner .btn {
	  display: inline-block;
	  margin: 25px 0 0;
	  padding: 9px 22px 7px;
	  clear: both;

	  color: #fff;
	  font-size: 12px;
	  font-weight: bold;
	  text-transform: uppercase;
	  text-decoration: none;

	  border: 2px solid rgba(255,255,255,.4);
	  border-radius: 5px;
	}
	  .banner .btn:hover {
	    background: rgba(255,255,255,.05);
	  }
	  .banner .btn:active {
		-webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
		-moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
		-ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
		-o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
		filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
	  }

	/**.banner .btn, .banner .dot {
	  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	  -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	  -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	  -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	  filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}**/

	.banner .dots {
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: 0px;
	  margin: 0;
	  padding: 0;
	  line-height: 12px;

	}
	  .banner .dots li {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin: 0 4px;

		text-indent: -999em;

		border-radius: 12px;

		cursor: pointer;
		background-color: #888A8B;

		-webkit-transition: background .5s, opacity .5s;
		-moz-transition: background .5s, opacity .5s;
		transition: background .5s, opacity .5s;
	  }
		.banner .dots li.active {
		  background: #73CDEB;
		}

	.banner .arrows {
	  position: absolute;
	  bottom: 20px;
	  right: 20px;
	  color: #fff;
	}
	  .banner .arrow {
	  position: absolute;
	  top: 0;
	  width: -webkit-calc(50% - 500px);
      width: -moz-calc(50% - 500px);
      width: -ms-calc(50% - 5000px);
      width: calc(50% - 500px);
	  cursor: pointer;
	  background-color: #D6D6D6;
	  opacity: 0.8;
	  }
	    .banner .arrow.prev{
	    	left: 0;
	    }
	    .banner .arrow.next{
	    	right: 0
	    }

/** description style **/
.desmar{
	margin: 0 auto;
}
.des{
	width: 420px;
	height: 500px;
	position: relative;
}
.des-head{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: rgba(230, 230, 230, 0.9);
	position: absolute;
	top: 0;
	left: 38%;
	z-index: 100;
}
.bluehead{
	box-shadow: 0 8px 10px -2px #73CDEB, 8px 0 8px -4px #73CDEB;
}
.yellowhead{
	box-shadow: 0 8px 10px -2px #FABE5A, 8px 0 8px -4px #FABE5A;
}
.redhead{
	box-shadow: 0 8px 10px -2px #DC1932, 8px 0 8px -4px #DC1932;
}
.cakeicon{
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 75% 75%;
}
.blue-cake{
	background-image: url('../img/blueCakeIcon.png');
}
.yellow-cake{
	background-image: url('../img/yellowCakeIcon.png');
}
.red-cake{
	background-image: url('../img/redCakeIcon.png');
}
.des-content{
	border-radius: 5px;
	background-color: rgba(242, 242, 242, 0.8);
	position: absolute;
	top: 50px;
	height: 455px;
}
.des-content h2{
	margin: 70px auto 10px auto;
	padding-left: 20px; 
}
.des-content p{
	padding-left: 40px;
	padding-right: 40px;
}

/** signup style **/
.signup-slogan{
	color: #F06478;
	font-size: 30px;
	margin: 35px auto 10px 450px;
}
.warm-background-image{
	margin-top: 20px;
	min-height: 1000px;
	background-image: url('../img/warmBackgroundImage.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: 100% 100%;
}
  .warm-background-image .container{
  	width: 1060px;
  	min-height: 660px;
  	background-color: rgba(242, 242, 242, 0.5);
  	margin: 155px auto;
  	position: relative;
  }
    .cake-head{
    	width: 260px;
    	height: 133px;
    	background-image: url('../img/yellowPie_L.png');
    	background-position: center center;
    	background-size: 100% 100%;
    	position: absolute;
    	top: -60px;
    	left: 400px;
    }
    .cake-input{
    	box-sizing: border-box;
    	display: inline-block;
    	margin-top: 110px;
    	border-right: solid 2px #979797;
    }


























